    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Sellible", root_path, class: "navbar-brand topnav", :method => :get%>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">How it Works</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
           
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <a name="about"></a>
    <div class="intro-header ">
        <div class="banner">
        <div class="container ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                      
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <div class="intro-message">
                                    <h1>Sellible</h1>
                                    <h3>Thank you for visiting Sellible. Let's get you paid!</h3>
                                    <hr class="intro-divider">
                                    <ul class="list-inline intro-social-buttons">
                                <%= link_to "Sell my iPhone", product_search_path, class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", :method => :get%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <a  name="services"></a>
        </div>
    </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

<!-- 	<a  name="services"></a>
    <div class="content-section-a">

          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center" >

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Its easy! We will buy your old phone from you. We will even mail you a shipping lable to mail us the phone.</h2>
                   <!--  <p class="lead">It's our mission to show people across the United States what fresh air should really taste like. To accomplish this, we are delivering fresh Alaskan air in mason jars to people's doorsteps. The goal of selling Alaskan air is to raise money for local clean air initiatives.</p> -->
         <!--        </div>
            </div>
        </div>
        <!-- /.container -->

   <!--  </div>  -->
    <!-- /.content-section-a -->

    <div class="content-section-b">
       
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How it works</h2>
                    <p class="lead">1. Get an instant offer<br>
                        <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" class="arrow"><br>
                      
                    2. Ship it free of charge<br> 
                    <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" class="arrow"><br>
                    3. Get paid fast! (Offer good for 30 days!)<br> 
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive photo" align="middle" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/IPhone_5.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
            <ul class="list-inline intro-social-buttons">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Sell your Phone today</h2>
        
            
            <%= link_to "Sell my iPhone", product_search_path, class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", :method => :get%></ul>
          
          
          </div>
          <div class="container">
            <br>
            <h2 class="lead">Seriously, we like you. Send us an email and we will get back to you within 24 hours.</h2>
            <br>
          <div class="col-lg-12 text-center email">
              <a href="mailto:support@sellible.com"><img src="http://cdn2.hubspot.net/hub/153539/file-2661977009-png/MailIcon.png" height= "50" width="50" style="text-decoration:none"></a>
          </div>
          <br>
          <p class="copyright text-muted small">Copyright &copy; Sellible 2015. All Rights Reserved</p>
        </div>
    </div>

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
