    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header ">
        <div class="banner">
        <div class="container ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                      
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <div class="intro-message">
                                    <h1>Sellible</h1>
                                    <h3>Thank you for visiting Sellible. Let's get you paid!</h3>
                                    <hr class="intro-divider">
                                    <ul class="list-inline intro-social-buttons">
                                <%= link_to "Sell my iPhone", product_search_path, class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", :method => :get%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <a  name="services"></a>
        </div>
    </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

<!-- 	<a  name="services"></a>
    <div class="content-section-a">

          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center" >

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Its easy! We will buy your old phone from you. We will even mail you a shipping lable to mail us the phone.</h2>
                   <!--  <p class="lead">It's our mission to show people across the United States what fresh air should really taste like. To accomplish this, we are delivering fresh Alaskan air in mason jars to people's doorsteps. The goal of selling Alaskan air is to raise money for local clean air initiatives.</p> -->
         <!--        </div>
            </div>
        </div>
        <!-- /.container -->

   <!--  </div>  -->
    <!-- /.content-section-a -->

    <div class="content-section-b">
       
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How it works</h2>
                    <p class="lead">Please let me know what you would like have writen in here.
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive photo" align="middle" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/IPhone_5.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
            <ul class="list-inline intro-social-buttons">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Sell your Phone today</h2>
        
            
            <%= link_to "Sell my iPhone", product_search_path, class: "btn btn-default btn-lg fa fa-linkedin fa-fw network-name", :method => :get%></ul>
          
          
          </div>
          <div class="container">
            <h2 class="lead">Seriously, we like you. Send us an email and we will get back to you within 24 hours.</h2>
          <div class="col-lg-12 text-center email">
              <a href="mailto:support@sellible.com"><img src="http://cdn2.hubspot.net/hub/153539/file-2661977009-png/MailIcon.png" height= "50" width="50" style="text-decoration:none"></a>
          </div>
        </div>
    </div>

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <!-- <div class="banner"> -->

        <!-- <div class="container"> -->

            <!-- <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div> -->

        <!-- </div> -->
        <!-- /.container -->

 <!--    </div> -->
    <!-- /.banner -->

    <!-- Footer -->
  <!--   <footer> -->
<!--         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Sellible 2015. All Rights Reserved</p>
                </div>
            </div>
        </div> -->
 <!--    </footer> -->