<%= render 'layouts/header'%>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container center">
	<h1>Thank you</h1>
	Order Number: <%= @sale.id %><br>
	Locked in price: 
	<br><br><p> You will recieve a email from us shortly with a shipping label</p>
	<!-- https://developers.facebook.com/docs/plugins/share-button/  this is the link to the share button -->
</div>	

