<html>
<head>
	<title>Orders email</title>
</head>
<body>
	<div class="row">
		<img src="http://i.imgur.com/kkFIgsL.png" class="responsive center">
	</div>
	<div class="container">
		<div class="row">	
			<p>Hello,</p>
			<p>Thanks for dropping by. We expect you’re out there looking around for the best price for your device. Fortunately, we’ve already done that for you. Come on back to Sellible. We’ll buy your Apple iPhone 5s 32GB (Verizon) right now for top dollar and guarantee it for 30 days.</p>

			<p>Once you confirm your offer we’ll send you a free shipping kit. Just place your Apple iPhone 5s 32GB (Verizon) in the package, drop it in the mail and we’ll pay you. It’s that easy!</p>
			<br>
			<p> If you have any questions please feel free to respond to this email, we would love to hear from you.</p>
			
			<p>From your friends at sellible</p>
			
		</div>
	</div>	
</body>
</html>