<html>
<head>
	<title>Orders email</title>
</head>
<body>
	<div class="row">
		<img src="http://i.imgur.com/kkFIgsL.png" class="responsive center">
	</div>
	<div class="container">
		<div class="row">	
			<p>Hello Daniel,</p>
			
			<p>You guys bought a phone from <% @sale.first_name.capitalize %> for <%= number_to_currency(@phone) %>.</p>
			<br>
			<p>From Your Friends at Sellible</p>
			<p>1 800 791-0458</p>
		</div>
	</div>	
</body>
</html>